@import "../../../constants/_variables.scss";


.cardWrapper_container {
    .cardWrapper {
        min-width: auto;

        .eventCard_wrapper {
            width: 298px;

            .eventCard_title {
                background-color: $YELLOW;
                border-radius: 4px;
                padding: 20px 30px;
                font-size: 24px;
                font-weight: 700;
                text-align: center;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .event_descriptions {
                padding: 24px 30px;

                .event_date_wrapper {
                    margin-bottom: 5px;
                    font-size: 18px;
                    font-weight: 500;

                    .event_date {
                        font-size: 14px;
                        font-weight: 400;
                    }
                }

                .select_button {
                    position: relative;

                    .tooltip {
                        display: none;
                    }

                    &:hover {
                        .tooltip {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.animate {
    animation: drop-out 1250ms both;
}

@media only screen and (max-width: $MediaSm) {
    .cardWrapper_container {
        .cardWrapper {
            width: fit-content;

            .eventCard_wrapper {
                width: 185px;

                .eventCard_title {
                    padding: 10px 14px;
                    font-size: 16px;
                    font-weight: 600;
                }

                .event_image {
                    height: 120px;
                    width: 185px;
                }

                .event_descriptions {
                    padding: 12px 15px;

                    .event_date_wrapper,
                    .event_time_wrapper {
                        margin-bottom: 4px;
                        font-size: 14px;

                        .event_date,
                        .event_time {
                            font-size: 12px;
                        }
                    }

                    .select_button {
                        padding: 6px 10px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}


@media #{$MediaScreenXs} {

    .cardWrapper_container {
        .cardWrapper {
            .eventCard_wrapper {
                .event_descriptions {
                    .select_button {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}


@media #{$MediaScreenXxs} {
    .cardWrapper_container {
        .cardWrapper {
            .eventCard_wrapper {
                .event_descriptions {
                    .select_button {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

@keyframes drop-out {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}