@import "../../constants/_variables.scss";

.app_container {
  background-color: $BLACK;
  min-height: 100vh;
  .app_title_bar {
    @include flex-justify-center;
    position: sticky;
    top: 0;
    background-color: $GREY_4;
    padding: 40px 80px;
    font-size: 30px;
    font-weight: 700;
    box-shadow: 0px 5px 15px #afafaf;
    z-index: 1;
    .app_title {
      animation: drop-out 800ms ease-out;
      flex: 1;
      color: #ffc63d;
    }
    .app_title_CTA {
      display: flex;
      animation: drop-out 800ms ease-out;

      .app_title_icon_wrapper {
        position: relative;
        cursor: pointer;
        margin-left: 35px;
        .icon_notification {
          @include flex-justify-center;
          position: absolute;
          top: -12px;
          right: -12px;
          background-color: $YELLOW;
          color: $BLACK;
          border-radius: 50%;
          font-size: 10px;
          height: 18px;
          width: 18px;
        }
      }
    }
  }
}
.drawer_customClass {
  .drawer_content {
    background-color: $BLACK;
  }
}

@keyframes drop-out {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media only screen and (max-width: $MediaSm) {
  .app_container {
    .app_title_bar {
      flex-direction: column;
      padding: 30px 60px;
      font-size: 24px;
      gap: 10px;
      padding: 25px 35px;
      .app_title {
        text-align: center;
      }
      .app_title_CTA {
        width: -webkit-fill-available;
        align-items: center;
        justify-content: space-between;
        .app_title_icon_wrapper {
          .app_title_icon {
            height: 24px;
            width: 24px;
          }
          .icon_notification {
            font-size: 8px;
            height: 14px;
            width: 14px;
          }
        }
      }
    }
  }
}
