@import "../../constants/_variables.scss";

.eventCard_container {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  padding: 64px;
  overflow: auto;
  scroll-behavior: auto;
  .cardWrapper_container {
    .cardWrapper {
      min-width: auto;

      .eventCard_wrapper {
        .eventCard_title {
          background-color: $YELLOW;
          border-radius: 4px;
          padding: 20px 30px;
          font-size: 24px;
          font-weight: 700;
          text-align: center;
        }
        .event_descriptions {
          padding: 24px 30px;
          .event_date_wrapper,
          .event_time_wrapper {
            margin-bottom: 5px;
            font-size: 18px;
            font-weight: 500;
            .event_date,
            .event_time {
              font-size: 14px;
              font-weight: 400;
            }
          }
          .select_button {
            position: relative;
            .tooltip {
              display: none;
            }
            &:hover {
              .tooltip {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  .animate {
    animation: drop-out 1250ms both;
  }
}
.eventsCard_footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 30px 45px 10px;
  gap: 15px;
  .footer_button {
    font-weight: 500;
  }
}
.events_fallback {
  @include flex-justify-center;
  flex: 1;
  flex-direction: column;
  text-align: center;
  color: $YELLOW;
  font-size: 20px;
  font-weight: 500;
  animation: drop-out 2250ms;
  .fallback_icon {
    height: 200px;
    width: 150px;
  }
}

@media only screen and (max-width: $MediaSm) {
  .eventCard_container {
    padding: 32px 16px;
    gap: 15px;
    .cardWrapper_container {
      .cardWrapper {
        width: fit-content;

        .eventCard_wrapper {
          .eventCard_title {
            padding: 10px 14px;
            font-size: 16px;
            font-weight: 600;
          }
          .event_image {
            height: 120px;
            width: 185px;
          }
          .event_descriptions {
            padding: 12px 15px;
            .event_date_wrapper,
            .event_time_wrapper {
              margin-bottom: 4px;
              font-size: 14px;
              .event_date,
              .event_time {
                font-size: 12px;
              }
            }
            .select_button {
              padding: 6px 10px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media #{$MediaScreenXs} {
  .eventCard_container {
    padding: 64px 32px;
  }
}

@media #{$MediaScreenXxs} {
  .eventsCard_footer {
    justify-content: center;
  }
}

@keyframes drop-out {
  0% {
    opacity: 0;
    transform: scale(0);

    // transform-origin: center center;
    // transform: translate3d(0, 0, 0) scale3d(0.3, 0.3, 0.3)
    //   rotate3d(0, 0, 1, 0deg);
    // opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);

    // transform-origin: center center;
    // transform: translate3d(0, 0, 0);
    // opacity: 1;
  }
}
