@import "../../constants/_variables.scss";

.tooltipWrapper {
  position: absolute;
  top: 0;
  transform: translate(-35%, -110%);
  width: 160px;
  padding: 6px 10px;
  background-color: $GREY_2;
  color: $GREY_3;
  border-radius: 6px;
  font-size: 10px;
  line-height: 15px;
}

.bottomArrowContainer {
  display: flex;
  justify-content: center;
  margin-bottom: -10px;
}

.bottomArrow {
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background-color: $GREY_2;
  border-radius: 3px;
}
